[Unit]
Description=Tartarus V2 keyboard config

[Service]
Restart=always
RestartSec=3
ExecStart=/usr/bin/kmonad /etc/kmonad/tartarusv2.kbd
Nice=-20

[Install]
WantedBy=default.target
